.s_weldplanet_search {
  background-image: url('../../img/snippets_demo/s_weldplanet_search_banner.jpg');
  .s_searchbar_input {
    width: 100%;
  }

  .search-recommendation {
    background-color: #1A2942CC;
  }

  .search-header {
    color: #FFFFFF;
  }

  .search-text {
    color: #FFFFFF;
  }

  .search-a {
    color: #FFFFFF;
    text-decoration: underline;
  }
}


