.s_domains_section {
  border-radius: 16px;
  border: 1px solid #E7E6E6;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(23, 61, 122, 0.16);

  .s_domains_banner_img img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
  }

  .s_domains_text {
    .domain-title {
      text-align: justify;
    }
    .short-description {
      text-align: justify;
    }
    .full-description {
      text-align: justify;
    }
  }
}
